@import "tailwindcss";

input{
    @apply outline-1 outline-gray-400 w-2/4 rounded-md p-1 ;
}

.inputContainer{
    @apply flex p-4 justify-between w-full flex-col gap-3;
}

#button{
    @apply bg-gray-400 text-white text-xl rounded-md py-1 hover:bg-gray-500 hover:cursor-pointer
    disabled:bg-gray-200 disabled:cursor-not-allowed disabled:outline-1 disabled:outline-gray-700
}

#signUp{
    @apply  text-black underline text-xl hover:cursor-pointer hover:text-gray-500
}