<div class="flex justify-center items-center h-screen w-auto bg-gray-200">
    <form (ngSubmit)="onSubmit()" class=" flex flex-col w-1/4 bg-gray-300" autocomplete="off">
        <div id="inputContainer">
            <label for="username" class="text-2xl">Username:</label>
            <input type="text" (click)="errorMessage=''" id="username" [(ngModel)]="enteredUsername" name="username"
                data-lpignore="true" required [ngClass]="{'border-2 border-red-500': this.errorMessage }">
        </div>

        <div id="inputContainer">
            <label for="password" class="text-2xl">Password:</label>
            <input type="password" (click)="errorMessage=''" id="password" [(ngModel)]="enteredPassword" name="password"
                data-lpignore="true" required [ngClass]="{'border-2 border-red-500':this.errorMessage }">
        </div>
        <div id="errorMessageContainer" *ngIf="authStore.error() as error" class="flex px-4">
            <p class="text-lg text-red-500">{{error}}</p>
        </div>
        <button type="submit" class="bg-gray-400 text-2xl p-2 hover:bg-gray-500 hover:cursor-pointer">Login</button>
    </form>
</div>