<div [ngClass]="walkStore.selectedWalk() ? 'grid grid-cols-2' : ''">
    <div class="items-display-container">
        <div class="search-bar">
            <app-search-bar/>
        </div>
        <div class="py-3 w-1/2">
            <h1 class="text-xl font-semibold my-2">Sort by:</h1>
            <div class="flex flex-row justify-around w-full">
                @for (option of sortOptions; track $index) {
                    <div class="sort-button">
                        <button class="hover:cursor-pointer" (click)="walkStore.sortWalks(option)">{{option}}</button>
                    </div>
                }
            </div>
        </div>
        <div class="list-container">
            <app-spinner [ngClass]="walkStore.isLoading() ? 'flex h-full' : ''" [contentLoaded]="!walkStore.isLoading()"/>
            <ul class="w-4/5 overflow-y-scroll no-scrollbar pb-15">
                @for (walk of walkStore.walksToDisplay(); track $index) {
                    <li>
                        <app-walk-item [walk]="walk"/>
                    </li>
                }
            </ul>
        </div>
    </div>
    <app-details-panel></app-details-panel>
</div>