<div class="flex flex-col items-center bg-gray-200 w-full h-screen justify-center">
  <h1 class="text-4xl m-7">Sign Up</h1>
  <form class="flex flex-col gap-5 w-1/4 ">
    <label>
      Name
      <input type="text" [field]="signUpForm.name"/>
    </label>
    <label>
      Date of Birth
      <input type="date" 
        [field]="signUpForm.dob" 
        [ngClass]="{ 'outline-1 outline-red-500': signUpForm.dob().invalid()}" />
    </label>
    @if(signUpForm.dob().invalid()){
      @for (error of signUpForm.dob().errors(); track $index) {
        <p class="text-red-500">{{error.message}}</p>
      }
    }
    <label>
      Email
      <input type="email" [field]="signUpForm.email"/>
    </label>
    <label>
      Username
      <input type="text" [field]="signUpForm.username"/>
    </label>
    <label>
      Password
      <input type="password" [field]="signUpForm.password"/>
    </label>
    <button id="signUp" [disabled]="signUpForm().invalid()">Sign Up</button>
  </form>
</div>

